{% extends "layout/form.html" %}

{%  block menu %}
    <ul class="nav navbar-nav" >
    {% for link in menu %}
    <li {%  if request.endpoint == link['endpoint'] %} class="active" {% endif %}>
        <a href="{{ url_for(link['endpoint']) }}">{{ link['name'] }}</a>
    </li>
    {% endfor %}
    </ul>
{% endblock %}

{% block title %}
        Upload
{% endblock %}

{% block content %}
    <form action="{{ url_for('admin:{}.add'.format(module)) }}" class="col-md-12" enctype="multipart/form-data" method="post">
        {{ form.hidden_tag() }}
        <input type="text" name="csrf_session_token", id="csrf_session_token", value="{{ session.get('csrf_token') }}" hidden="hidden">
        <div class="card">
            <div class="card-body">
                <br/>
                <div class="row">
                    <div class="col-md-3 text text-left">
                        {{ form.file.label }}
                    </div>
                    <div class="col-md-9 text-left">
                        {{ form.file }}
                    </div>
                </div>
                <br/>
            </div>
            <div class="card-footer">
                <div class="row text-uppercase text">
                    {{ form.submit }}
                </div>
                <br/>
            </div>
        </div>
    </form>
{% endblock %}