{% if theme is defined %}
    {% extends "themes/%s/app.html" % theme %}
    {% import "themes/%s/navbar.html" % theme as _navbar with context %}
{% endif %}

{% block content %}

        <div class="panel panel-default">
            <div class="panel-heading title">
               <div class="text-left container">
                    <h1>{{ page.title }}</h1>
                </div>
            </div>
            <div class="panel-body card-text">
                <div class="container text-left">
                    {{_navbar.add(page)}}> {{page.title}}
                </div>
                <div class="container text-left">
                    <img style="width:100%;" rel="{{ page.title }}" src="{{ url_for('static', filename=page.url)}}"/>
                </div>
            </div>
            <div class="panel-footer">

            </div>
        </div>
{% endblock %}
