{% extends "layout/form.html" %}

{%  block menu %}
    <ul class="nav navbar-nav" >
    {% for link in menu %}
    <li {%  if request.endpoint == link['endpoint'] %} class="active" {% endif %}>
        <a href="{{ url_for(link['endpoint']) }}">{{ link['name'] }}</a>
    </li>
    {% endfor %}
    </ul>
{% endblock %}

{% block title %}
        Users
{% endblock %}

{% block content %}
    {% for user in users %}
        <div class="card">
            <div class="card-body">
                <br/>
                <div class="row">
                    <div class="col-md-3 text text-left">
                        {{ user.email }}
                    </div>
                    <div class="col-md-9 text-left">
                        {{ user.is_admin }}
                    </div>
                </div>
                <br/>
            </div>
            <div class="card-footer">
                <div class="row text-uppercase text">
                </div>
                <br/>
            </div>
        </div>
    {% endfor %}
{% endblock %}