{% extends "layout/admin.html" %}

{%  import 'admin/gui.html' as gui with context %}
{% block head %}
    {{ gui.media_nav("admin:pages.static") }}
{%  endblock %}

{% block title %}
        Add page
{% endblock %}

{% block content %}
        <form class="col-md-12" action="{{ url_for('admin:pages.save') }}" method="post">
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="card col-md-3 text-right">
                    {{form.title.label}}
                </div>
                <div class="card col-md-6 text-left">
                    {{form.title}}
                </div>
            </div>
            <div class="row">
                <div class="card col-md-3 text-right">
                    {{form.url.label}}
                </div>
                <div class="card col-md-6 text-left">
                    {{form.url}}
                </div>
            </div>
            <div class="row">
                <div class="card col-md-3 text-right">
                    {{form.parent.label}}
                </div>
                <div class="card col-md-6 text-default text-left">
                    {{form.parent}}
                </div>
            </div>
            <div class="row">
                <div class="card col-md-12 text-center">
                    {{form.content}}
                </div>
            </div>
            <div class="row">
                <div class="card col-md-3 text-right">
                    {{form.publish.label}}
                </div>
                <div class="card col-md-6 text-left">
                    {{form.publish}}
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="card col-md-6 text-right">
                </div>
                <div class="card col-md-6 text-left">
                    {{ form.submit }}
                </div>
            </div>
            <div class="row">
                <div class="card col-md-3 text-right">
                    {{ form.metas.label }}
                </div>
                <div class="card col-md-6 text-left">
                    {{ form.metas }}
                </div>
            </div>
        </form>
{% endblock %}

{%  block tail %}
    <script src="{{ url_for("admin:pages.static", filename='js/tinymce/tinymce.min.js') }}" referrerpolicy="origin"></script>
    <script>
      tinymce.init({
        selector: 'textarea#content', // Replace this CSS selector to match the placeholder element for TinyMCE
        setup: function (editor) {
          editor.on('change', function () {
              tinymce.triggerSave();
          });
        }
        {% if plugins is defined  %}
            {% if plugins is not none %}
            ,plugins: '{{plugins.setting_value}}'
            {%  endif %}
        {% endif %}
        {% if toolbar is defined %}
            {% if toolbar is not none %}
            ,toolbar: '{{toolbar.setting_value}}'
            {% endif %}
        {% endif %}
      });
</script>
{%  endblock %}