{% extends "layout/admin.html" %}

{% block head %}
    {{ super() }}
    <link href="{{ url_for('admin:appearance.static', filename='admin/css/input.css', v='1.0.0') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <br/>
    <div class="col-md-12 panel panel-default">
        <div class="col-md-12">
            <div class="row">
                <form method="post" class="col-md-12" action="{{url_for('admin:appearance.panel')}}">
                        {{ selector.hidden_tag() }}
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 text-right">
                                {{ selector.theme.label }}
                                </div>
                                <div class="col-md-6 text-left">
                                {{ selector.theme }}
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-6 text-right">
                                </div>
                                <div class="col-md-6 text-left">
                                {{ selector.submit }}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}