{% if theme is defined %}
    {% extends "themes/%s/index.html" % theme %}
{% else %}
    {% extends "themes/%s/index.html" % 'default' %}
{% endif %}
{% block title %}
<h3> Login </h3>
{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-body">
            {% for login_type in logins %}

            <div class="row">
                <div class="col-md-6 col-md-offset-3 text text-center">
                    <a href="{{ url_for('{}.login'.format(login_type.lower())) }}{% if request.args.next %}?next={{ request.args.next }}{% endif %}">{{login_type}}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="card-footer">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                    <div class="flashes bg-{{ category }}">
                      <p class="text-{{ category }}">{{ message }}</p>
                    </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
        </div>
    </div>
{% endblock %}